* {
    margin: 0;
    padding: 0;
}

body {
    padding: 1em;
}

#table-and-input-container {
    width: fit-content;
}

table {
    border-spacing: 0;
}

table td {
    border: 1px solid black;
}

#table-header {
    background-color: rgba(0,0,0,0.3);
}

#table-header tr td:first-child {
    width: 15em;
}

#table-header tr td:last-child {
    width: 1.5em;
}

#input-container {
    margin-top: 1em;
}

#person-input{
    border-radius: 0;
    width: 70%;
}

#add-button {
    border-radius: 0;
    background-color: #00a300;
    width: 25%;
}